axiom-py==0.3.0
certifi==2024.2.2
charset-normalizer==3.3.2
dacite==1.8.1
idna==3.6
iso8601==2.1.0
ndjson==0.3.1
pyhumps==3.8.0
requests==2.31.0
requests-toolbelt==1.0.0
rfc3339==6.2
ujson==5.9.0
urllib3==2.2.1
